@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    /* width: 100vw; */
    align-items: center;
    background-color: #e6e6e6;
    /* background-color: rgba(22, 22, 19, 0.13); */
    /* padding-left: 12rem; */
    /* padding-right: 12rem; */
    font-family: 'Comic Neue', cursive;
    /* padding: 1rem; */
    padding: 0 1rem 0 1rem;

}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    min-width: 100%;
    padding: 1rem 0 1rem 0;
    margin-bottom: 2rem;
    /* padding: 2rem; */
}

.header ul {
    display: flex;
    font-weight: 900;
    gap: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    min-width: 100%;
    margin-top: 2rem;
    /* padding: 2rem; */
}

 @media only screen and (min-width: 768px){ 
   .app{
    padding: 0 2rem 0 2rem;
    /* max-width: 768px; */
   } 
 } 


@media only screen and (min-width: 1024px){
    .app{
        padding: 0 12rem 0 12rem;
        background-color: rgba(116, 71, 13, 0.603);
    }
}

@media only screen and (min-width: 1400px){
    .app{
        padding: 0 20rem 0 20rem;
        background-color: rgb(27, 51, 43);
    }
}