.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.recipeTitle {
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}


